@import './mixin';
@import './variables';


.home {
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    margin: auto;
}

.about {
    padding-top: 70px;
    min-height: 100vh;

    h2 {
        text-align: center !important;
        margin-bottom: 20px;
    }

    p {
        text-align: justify;
    }
}

.resume {
    padding-top: 70px;
    min-height: 100vh;

    .resume-header {
        h2 {
            text-align: center !important;
            margin-top: 20px;
        }

        p {
            text-align: center;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0;
            font-style: italic;

            a {
                color: blue !important;
            }
        }

        div {
            display: block;
        }
    }

    .resume-devider {
        width: 90%;
        margin: auto;
        border-bottom: 1px solid blue;
    }

    .resume-content {
        padding-top: 30px;

        th {
            display: none;
        }

        td {
            font-size: 14px !important;
        }

        h2 {
            text-align: left !important;
            margin-top: 20px;
            // border-bottom: 1px solid green;
            width: 80%;
        }

        p,
        li {
            font-size: 14px;
        }

        a {
            color: blue !important;
        }
    }
}

#portfolio {
    padding-top: 70px;
    min-height: 100vh;

    .portfolio-financelog,
    .portfolio-covid19 {
        h3 {
            text-align: left;
        }

    }
}

.portfolio-financelog-content-text,
.portfolio-covid19-content-text {
    p {
        text-align: justify;
        font-size: 14px;
    }
}

@media screen and (min-width:600px) {
    .about {
        padding-top: 100px;

        h2 {
            text-align: center !important;
            margin-bottom: 20px;
        }

        p {
            text-align: justify;
        }

        .about-content {
            display: flex;

            .about-content-text {
                width: 50%;
                padding-top: 10px;

            }

            .about-content-image {
                margin-left: 30px;
                width: 50%;
                padding-top: 20px
            }
        }

    }

    .resume {
        padding-top: 100px;
        min-height: 100vh;

        h2 {
            text-align: center !important;
            margin-top: 20px;
        }

        p {
            text-align: center;
            margin-right: 20px;
        }

        .resume-header div {
            display: flex;
            justify-content: center;

        }

        .resume-devider {
            width: 60% !important;
            margin: auto;
            border-bottom: 1px solid blue !important;
            // border-style: double;
        }

        .resume-content {
            padding-top: 30px;

            th {
                display: none;
            }

            td {
                font-size: 15px !important;
                min-width: 250px;
            }

            h2 {
                text-align: left !important;
                margin-top: 20px;
            }

            p,
            li {
                font-size: 16px !important;
                text-align: left;
            }

            p {
                margin-left: 0px;

            }
        }
    }

    #portfolio {
        padding-top: 100px;
        min-height: 100vh;

        h2 {
            text-align: center !important;
            margin-bottom: 20px;
        }

        .portfolio {
            display: flex;

            .portfolio-financelog {
                width: 40%;
                margin-right: 20px;

                .portfolio-financelog-content-text {
                    p {
                        text-align: justify;
                        font-size: 16px!important;
                    }
                }

            }

            .portfolio-covid19 {
                width: 40%;
                margin-left: 20px;
                .portfolio-covid19-content-text {
                    p {
                        text-align: justify;
                        font-size: 16px!important;
                    }
                }
            }
        }
    }

}