.test-parent {
    height: auto;
    display: flex;
}
.test-child-menu {
    margin-top: 100px;
    float: left;
    width: 20%;
    background-color: antiquewhite;
}
.test-child-content {
    margin-top: 100px;
    float: right;
    width: 80%;
    background-color: rgb(117, 86, 44);
}
// p {

//     width: 100px;
// }